openapi: 3.0.0
info:
  title: Portalnesia
  description: REST API to access Portalnesia services
  version: 1.0.0
  x-logo:
    url: https://content.portalnesia.com/Banner.png
    backgroundColor: '#ffffff'
    altText: Portalnesia Logo
  termsOfService: https://portalnesia.com/pages/terms-of-service
  contact:
    name: Portalnesia
    url: https://portalnesia.com
    email: support@portalnesia.com
  license:
    name: MIT
    url: https://github.com/portalnesia/portalnesia/blob/main/LICENSE
servers:
  - url: https://api.portalnesia.com
    description: Portalnesia API Server
tags:
  - name: Authentication
  - name: Blog
  - name: Comments
  - name: Chord
  - name: Files
  - name: Geodata
  - name: Likes
  - name: Messages
  - name: Quiz
  - name: Search
  - name: Toko
  - name: Toko > Items
  - name: Toko > Transactions
  - name: Toko > Users
  - name: Tools
  - name: Tools > Downloader
  - name: Twibbon
  - name: Twitter Thread Reader
  - name: URL Shortener
  - name: Users
paths:
  /v1/blog/dashboard:
    get:
      tags:
        - Blog
      summary: Get List of My Blog
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
      x-codeSamples:
        $ref: ./example_v1_blog_dashboard.yml#/v1_blog_dashboard_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.    
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/blog_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 1
                  total_page: 1
                  can_load: false
                  data:
                    - id: 6
                      title: Blog name
                      created:
                        time_ago: 2 years ago
                        timestamp: 1586712498
                      image: https://content.portalnesia.com/......
                      link: https://portalnesia.com/blog/slug-name
                      slug: slug-name
                      seen:
                        number: 1
                        format: '1'
                      category: tutorial
                      tags:
                        - Wordpress
                        - Blog
                      user:
                        id: 123456
                        username: username
                        name: Name
                        picture: https://content.portalnesia.com/......
  /v1/blog:
    post:
      tags:
        - Blog
      summary: Create New Blog
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
      x-codeSamples:
        $ref: ./example_v1_blog.yml#/v1_blog_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - title
                - slug
                - text
              properties:
                title:
                  type: string
                  description: |
                    Title of blog   
                  example: Test blog
                slug:
                  type: string
                  description: |
                    Slug URL   
                    Slugify format (lowercase and space replaced by `-`)   
                  example: test-blog
                text:
                  type: string
                  description: |
                    Content of blog     
                  example: <p>Hello World</p>
                image:
                  type: string
                  description: |-
                    Poster image of blog   
                    Any image URL   
                    Default `null`
                  example: https://content.portalnesia.com/...
                format:
                  type: string
                  enum:
                    - html
                    - markdown
                  description: |
                    `html` or `markdown`    
                    Default `html`
                  example: html
                tags:
                  type: string
                  description: |-
                    Tags of blog   
                    comma separate.   
                    Default `""`   
                  example: Blog,Development
                category:
                  type: string
                  description: >-
                    Blog category    

                    Get list of category in
                    [`/v1/category/list`](#get-/v1/blog/category/list)    

                    Default `uncategory`
                  example: uncategory
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
    get:
      tags:
        - Blog
      summary: Get List of All Blog
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        $ref: ./example_v1_blog.yml#/v1_blog_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/blog_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      title: Blog Title
                      created:
                        time_ago: a year ago
                        timestamp: 1591419184
                      image: https://content.portalnesia.com/.....
                      link: https://portalnesia.com/blog/blog-title
                      slug: blog-title
                      seen:
                        number: 1000
                        format: 1 K
                      category: tutorial
                      tags:
                        - FAQ
                      user:
                        id: 123456
                        username: username
                        name: Name
                        picture: https://content.portalnesia.com/.....
  /v1/blog/{blog_identity}:
    put:
      tags:
        - Blog
      summary: Edit My Blog
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
      x-codeSamples:
        $ref: ./example_v1_blog__blog_identity.yml#/v1_blog__blog_identity_put
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - title
                - slug
                - text
              properties:
                title:
                  type: string
                  description: |
                    Title of blog   
                  example: Test blog
                slug:
                  type: string
                  description: |
                    Slug URL   
                    Slugify format (lowercase and space replaced by `-`)   
                  example: test-blog
                text:
                  type: string
                  description: |
                    Content of blog    
                  example: '# Hello World'
                image:
                  type: string
                  description: |-
                    Poster image of blog   
                    Any image URL   
                    Default `null`
                  example: https://content.portalnesia.com/...
                format:
                  type: string
                  enum:
                    - html
                    - markdown
                  description: |
                    `html` or `markdown`    
                    Default `html`
                  example: markdown
                tags:
                  type: string
                  description: |-
                    Tags of blog   
                    comma separate.   
                    Default `""`
                  example: Wordpress,Blog
                category:
                  type: string
                  description: >-
                    Blog category    

                    Get list of category in
                    [`/v1/category/list`](#get-/v1/blog/category/list)    

                    Default `uncategory`
                  example: uncategory
                publish:
                  type: boolean
                  description: |-
                    `true` will publish the blog    
                    Default `false`
                  example: 'false'
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: blog_identity
          in: path
          schema:
            type: string
          required: true
          description: Slug of blog
          example: sample-blog-identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      slug:
                        type: string
                      publish:
                        type: boolean
              example:
                error: false
                message: OK
                data:
                  slug: slug-name
                  publish: false
    delete:
      tags:
        - Blog
      summary: Delete My Blog
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
      x-codeSamples:
        $ref: ./example_v1_blog__blog_identity.yml#/v1_blog__blog_identity_delete
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: blog_identity
          in: path
          schema:
            type: string
          required: true
          description: Slug of blog
          example: sample-blog-identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
    get:
      tags:
        - Blog
      summary: Get Blog Detail
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        $ref: ./example_v1_blog__blog_identity.yml#/v1_blog__blog_identity_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: blog_identity
          in: path
          schema:
            type: string
          required: true
          description: Slug of blog
          example: sample-blog-identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: ./schemas.yml#/schemas/blog
              example:
                error: false
                message: OK
                data:
                  id: 1234
                  title: Blog Title
                  image: https://content.portalnesia.com/.....
                  link: https://portalnesia.com/blog/blog-title
                  slug: blog-title
                  seen:
                    number: 1000
                    format: 1 K
                  created:
                    time_ago: a year ago
                    timestamp: 1591419184
                  last_modfied:
                    time_ago: 8 months ago
                    timestamp: 1614880820
                  format: html
                  category: tutorial
                  tags:
                    - FAQ
                  publish: true
                  block: false
                  user:
                    id: 123456
                    name: Name
                    username: username
                    picture: https://content.portalnesia.com/.....
                  text: .... HTML OR MARKDOWN
  /v1/blog/tags/{tag}:
    get:
      tags:
        - Blog
      summary: Get List of Blog by Tags
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        $ref: ./example_v1_blog_tags__tag.yml#/v1_blog_tags__tag_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: tag
          in: path
          schema:
            type: string
          required: true
          description: |
            Tag of blog.
            Slugify format (lowercase and space replaced by `-`)
          example: sample-blog-tag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/blog_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      title: Blog Title
                      created:
                        time_ago: a year ago
                        timestamp: 1591419184
                      image: https://content.portalnesia.com/.....
                      link: https://portalnesia.com/blog/blog-title
                      slug: blog-title
                      seen:
                        number: 1000
                        format: 1 K
                      category: tutorial
                      tags:
                        - FAQ
                      user:
                        id: 123456
                        username: username
                        name: Name
                        picture: https://content.portalnesia.com/.....
  /v1/blog/category/{category}:
    get:
      tags:
        - Blog
      summary: Get List of Blog by Category
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        $ref: >-
          ./example_v1_blog_category__category.yml#/v1_blog_category__category_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.    
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: category
          in: path
          schema:
            type: string
          required: true
          description: |-
            Category of blog.
            Slugify format (lowercase and space replaced by `-`)
          example: sample-blog-category
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/blog_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      title: Blog Title
                      created:
                        time_ago: a year ago
                        timestamp: 1591419184
                      image: https://content.portalnesia.com/.....
                      link: https://portalnesia.com/blog/blog-title
                      slug: blog-title
                      seen:
                        number: 1000
                        format: 1 K
                      category: tutorial
                      tags:
                        - FAQ
                      user:
                        id: 123456
                        username: username
                        name: Name
                        picture: https://content.portalnesia.com/.....
  /v1/blog/category/list:
    get:
      tags:
        - Blog
      summary: Get List of Category
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        $ref: ./example_v1_blog_category_list.yml#/v1_blog_category_list_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: string
              example:
                error: false
                message: OK
                data:
                  - uncategory
                  - tutorial
                  - blog
  /v1/comments/{type}/{content_id}:
    get:
      tags:
        - Comments
      summary: Get Comments
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: comments'
      security:
        - OauthUser:
            - comments
        - OauthClient:
            - comments
      x-codeSamples:
        $ref: >-
          ./example_v1_comments__type___content_id.yml#/v1_comments__type___content_id_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: type
          in: path
          schema:
            type: string
          required: true
          description: |-
            Content type of comments.    
            `news`, `twitter_thread`, `blog`, `chord`, `event`
          example: blog
        - name: content_id
          in: path
          schema:
            type: integer
          required: true
          description: Content ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/comment_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 1
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      timestamp: 1636886557
                      content:
                        id: 123456
                        posid: 123456
                        link: https://portalnesia.com/blog/....
                        type: blog
                        userid: 123456
                      comment: Tes
                      block: false
                      can_deleted: true
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/...
                      reply:
                        can_load: false
                        total: 1
                        data:
                          - id: 123456
                            timestamp: 1636887261
                            content:
                              id: 123456
                              posid: 123456
                              link: https://portalnesia.com/blog/....
                              type: blog
                              userid: 123456
                            comment: Tes Reply
                            block: false
                            can_deleted: true
                            user:
                              id: 123456
                              name: Name
                              username: username
                              picture: https://content.portalnesia.com/...
    post:
      tags:
        - Comments
      summary: Create New Comment
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: comments'
      security:
        - OauthUser:
            - comments
        - OauthClient:
            - comments
      x-codeSamples:
        $ref: >-
          ./example_v1_comments__type___content_id.yml#/v1_comments__type___content_id_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - name
                - email
                - message
              properties:
                name:
                  type: string
                  description: |
                    The name of the commenter
                  example: John Doe
                email:
                  type: string
                  description: |
                    The email of the commenter
                  example: email@example.com
                message:
                  type: string
                  description: |
                    The message of comment
                  example: Tes
                reply_to:
                  type: integer
                  description: Replied comment id
                  example: '2'
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: type
          in: path
          schema:
            type: string
          required: true
          description: |-
            Content type of comments.    
            `news`, `twitter_thread`, `blog`, `chord`, `event`
          example: blog
        - name: content_id
          in: path
          schema:
            type: integer
          required: true
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: ./schemas.yml#/schemas/comment_pagination
              example:
                error: false
                message: OK
                data:
                  id: 123456
                  comment: Tes
                  timestamp: 1636885894
                  content:
                    id: 123456
                    type: blog
                    link: https://portalnesia.com/blog/slug
                    userid: 123456
                  user:
                    id: 123456
                    name: Name
                    username: username
                    picture: https://content.portalnesia.com/....
                  block: false
                  can_deleted: true
                  reply:
                    total: 0
                    can_load: false
                    data: []
  /v1/comments/{type}/{content_id}/{comment_id}:
    get:
      tags:
        - Comments
      summary: Get Replies
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: comments'
      security:
        - OauthUser:
            - comments
        - OauthClient:
            - comments
      x-codeSamples:
        $ref: >-
          ./example_v1_comments__type___content_id___comment_id.yml#/v1_comments__type___content_id___comment_id_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: type
          in: path
          schema:
            type: string
          required: true
          description: |-
            Content type of comments.    
            `news`, `twitter_thread`, `blog`, `chord`, `event`
          example: blog
        - name: content_id
          in: path
          schema:
            type: integer
          required: true
          description: Content ID
          example: '123456'
        - name: comment_id
          in: path
          schema:
            type: integer
          required: true
          description: Comment ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/comment_reply_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 2
                  total_page: 2
                  can_load: true
                  data:
                    - id: 123456
                      timestamp: 1636887261
                      content:
                        id: 123456
                        posid: 123456
                        link: https://portalnesia.com/blog/....
                        type: blog
                        userid: 123456
                      comment: Tes Reply
                      block: false
                      can_deleted: true
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/...
    delete:
      tags:
        - Comments
      summary: Delete Comments
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: comments'
      security:
        - OauthUser:
            - comments
      x-codeSamples:
        $ref: >-
          ./example_v1_comments__type___content_id___comment_id.yml#/v1_comments__type___content_id___comment_id_delete
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: type
          in: path
          schema:
            type: string
          required: true
          description: |-
            Content type of comments.    
            `news`, `twitter_thread`, `blog`, `chord`, `event`
          example: blog
        - name: content_id
          in: path
          schema:
            type: integer
          required: true
          description: Content ID
          example: '123456'
        - name: comment_id
          in: path
          schema:
            type: integer
          required: true
          description: Comment ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
  /v1/chord/dashboard:
    get:
      tags:
        - Chord
      summary: Get List of My Chord
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: chord'
      security:
        - OauthUser:
            - chord
      x-codeSamples:
        $ref: ./example_v1_chord_dashboard.yml#/v1_chord_dashboard_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/chord_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 1
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      artist: Sample Artist
                      slug_artist: sample-artist
                      title: Sample Song Title
                      created:
                        time_ago: 10 months ago
                        timestamp: 1609412549
                      seen:
                        number: 21
                        format: '21'
                      slug: sample-artist-sample-song-title
                      link: >-
                        https://portalnesia.com/chord/sample-artist-sample-song-title
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/.....
  /v1/chord:
    get:
      tags:
        - Chord
      summary: Get List of All Chord
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: chord'
      security:
        - OauthUser:
            - chord
        - OauthClient:
            - chord
      x-codeSamples:
        $ref: ./example_v1_chord.yml#/v1_chord_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.
            Default 15
            Max 50
          example: '15'
        - name: order
          in: query
          schema:
            type: string
          required: false
          description: |-
            Order of content.   
            `popular` or `recent`    
            Default recent
          example: popular
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/chord_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 43
                  total_page: 3
                  can_load: true
                  data:
                    - id: 123456
                      artist: Sample Artist
                      slug_artist: sample-artist
                      title: Sample Song Title
                      created:
                        time_ago: 10 months ago
                        timestamp: 1609412549
                      seen:
                        number: 21
                        format: '21'
                      slug: sample-artist-sample-song-title
                      link: >-
                        https://portalnesia.com/chord/sample-artist-sample-song-title
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/.....
  /v1/chord/artist/{artist}:
    get:
      tags:
        - Chord
      summary: Get List of Chord by Artist
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: chord'
      security:
        - OauthUser:
            - chord
        - OauthClient:
            - chord
      x-codeSamples:
        $ref: ./example_v1_chord_artist__artist.yml#/v1_chord_artist__artist_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.    
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.
            Default 15
            Max 50
          example: '15'
        - name: artist
          in: path
          schema:
            type: string
          required: true
          description: Slug of artist
          example: sample-artist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/chord_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      artist: Sample Artist
                      slug_artist: sample-artist
                      title: Sample Song Title
                      created:
                        time_ago: 10 months ago
                        timestamp: 1609412549
                      seen:
                        number: 21
                        format: '21'
                      slug: sample-artist-sample-song-title
                      link: >-
                        https://portalnesia.com/chord/sample-artist-sample-song-title
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/.....
  /v1/chord/artist/list:
    get:
      tags:
        - Chord
      summary: Get List of All Artist
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: chord'
      security:
        - OauthUser:
            - chord
        - OauthClient:
            - chord
      x-codeSamples:
        $ref: ./example_v1_chord_artist_list.yml#/v1_chord_artist_list_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.
            Default 15
            Max 50
          example: '15'
        - name: q
          in: query
          schema:
            type: string
          required: false
          description: Search name of artist
          example: superman
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          type: string
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 43
                  total_page: 9
                  can_load: true
                  data:
                    - Artist A
                    - Artist B
                    - Artist C
                    - Artist D
                    - Artist E
  /v1/chord/{slug}:
    get:
      tags:
        - Chord
      summary: Get Chord Detail
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: chord'
      security:
        - OauthUser:
            - chord
        - OauthClient:
            - chord
      x-codeSamples:
        $ref: ./example_v1_chord__slug.yml#/v1_chord__slug_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: slug
          in: path
          schema:
            type: string
          required: true
          description: Slug of chord
          example: sample-chord-identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: ./schemas.yml#/schemas/chord
              example:
                error: false
                message: OK
                data:
                  id: 123456
                  artist: Sample Artist
                  slug_artist: sample-artist
                  title: Sample Song Title
                  slug: sample-artist-sample-song-title
                  seen:
                    number: 21
                    format: '21'
                  created:
                    time_ago: 10 months ago
                    timestamp: 1609412549
                  last_modified:
                    time_ago: 10 months ago
                    timestamp: 1609412549
                  link: >-
                    https://portalnesia.com/chord/sample-artist-sample-song-title
                  publish: true
                  block: false
                  user:
                    id: 123456
                    name: Name
                    username: username
                    picture: https://content.portalnesia.com/.....
                  text: CHORD STRING
  /v1/files:
    get:
      tags:
        - Files
      summary: Get List of My Files
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: files'
      security:
        - OauthUser:
            - files
      x-codeSamples:
        $ref: ./example_v1_files.yml#/v1_files_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: q
          in: query
          schema:
            type: string
          required: false
          description: Query, if you want to search specific file title.
          example: title searching
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.    
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      total_size:
                        type: integer
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/files_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 30
                  total_page: 30
                  can_load: true
                  total_size: 34205756
                  data:
                    - id: id-of-files
                      id_number: 123456
                      title: Files title
                      created:
                        time_ago: 2 minutes ago
                        timestamp: 1636969306
                      private: false
                      type: audio
                      size: 9.52 MB
                      thumbs: https://content.portalnesia.com/.....
                      url: https://......
                      artist: Artist of the files, if file type audio
    post:
      tags:
        - Files
      summary: Upload Files
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: files'
      security:
        - OauthUser:
            - files
      x-codeSamples:
        $ref: ./example_v1_files.yml#/v1_files_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: |-
                    The files you want to upload.    
                    **Required if youtube field is not set**
                  format: binary
                youtube:
                  type: string
                  description: >-
                    Youtube URL, if you want to add youtube video to your
                    profile media page.    

                    **Required if file field is not set**
                  example: https://www.youtube.com/watch?v=...
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
              example:
                error: false
                message: OK
                data:
                  id: 7d21b667-c92b-5304-93c1-1eac1b5922a2
  /v1/files/{file_id}:
    get:
      tags:
        - Files
      summary: Get Files or Media Detail
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: files'
      security:
        - OauthUser:
            - files
      x-codeSamples:
        $ref: ./example_v1_files__file_id.yml#/v1_files__file_id_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: file_id
          in: path
          schema:
            type: string
          required: true
          description: ID of files
          example: 7d21b667-c92b-5304-93c1-1eac1b5922a2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: ./schemas.yml#/schemas/files
              example:
                error: false
                message: OK
                data:
                  id: id-of-files
                  id_number: 123456
                  title: Files Title
                  created:
                    time_ago: a year ago
                    timestamp: 1604130621
                  private: false
                  type: audio
                  size: 4.97 MB
                  thumbs: https://content.portalnesia.com/...
                  url: https://.....
                  artist: File artist
                  seen:
                    number: 123456
                    format: 123.5 K
                  user:
                    id: 1234
                    name: Name
                    username: username
                    picture: https://content.portalnesia.com/.....
    put:
      tags:
        - Files
      summary: Edit Files
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: files'
      security:
        - OauthUser:
            - files
      x-codeSamples:
        $ref: ./example_v1_files__file_id.yml#/v1_files__file_id_put
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - title
                - private
              properties:
                title:
                  type: string
                  description: |
                    New title of the files.
                  example: Title files
                private:
                  type: string
                  description: >
                    If true, this media will be displayed on your profile media
                    ( `/v1/user/:username/media` ).
                  example: true or false
                artist:
                  type: string
                  description: |-
                    New artist name.     
                    **Required if file type is audio**
                  example: Artist name
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: file_id
          in: path
          schema:
            type: string
          required: true
          description: ID of files
          example: 7d21b667-c92b-5304-93c1-1eac1b5922a2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
    delete:
      tags:
        - Files
      summary: Delete Files
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: files'
      security:
        - OauthUser:
            - files
      x-codeSamples:
        $ref: ./example_v1_files__file_id.yml#/v1_files__file_id_delete
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: file_id
          in: path
          schema:
            type: string
          required: true
          description: ID of files
          example: 7d21b667-c92b-5304-93c1-1eac1b5922a2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
  /v1/geodata/epsg:
    get:
      tags:
        - Geodata
      summary: Get EPSG
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: geodata'
      security:
        - OauthUser:
            - geodata
        - OauthClient:
            - geodata
      x-codeSamples:
        $ref: ./example_v1_geodata_epsg.yml#/v1_geodata_epsg_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.    
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: q
          in: query
          schema:
            type: string
          required: false
          description: Query, if you want to search specific EPSG.
          example: Search query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/geodata_epsg_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 5469
                  total_page: 5469
                  can_load: true
                  data:
                    - code: '2000'
                      name: Anguilla 1957 / British West Indies Grid
                      area: Anguilla - onshore.
  /v1/geodata/transform-coordinates:
    post:
      tags:
        - Geodata
      summary: Transform Coordinates
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: geodata'
      security:
        - OauthUser:
            - geodata
        - OauthClient:
            - geodata
      x-codeSamples:
        $ref: >-
          ./example_v1_geodata_transform_coordinates.yml#/v1_geodata_transform_coordinates_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - from
                - to
                - input
              properties:
                from:
                  type: integer
                  description: >
                    Coordinate System.    

                    Get list of EPSG coordinate system in
                    [`/v1/geodata/epsg`](#get-/v1/geodata/epsg)
                  example: '4326'
                to:
                  type: integer
                  description: >
                    Coordinate System.    

                    Get list of EPSG coordinate system in
                    [`/v1/geodata/epsg`](#get-/v1/geodata/epsg)
                  example: '3857'
                input:
                  type: number
                  description: |
                    Coordinate pairs that you want to transform.
                  example: |-
                    18.5;54.2
                    113.4 46.78
                    41°26'47"N 71°58'36"W
                    42d26'47"N 72d58'36"W
                add_input:
                  type: boolean
                  description: Include input field into output result.
                  example: 'true'
                switch:
                  type: boolean
                  description: >-
                    If you are inserting latitude/longitude values in decimal
                    format, then the longitude should be first value of the pair
                    (X-coordinate) and latitude the second value
                    (Y-coordinate).     

                    Otherwise you can set switch to `true`
                  example: 'true'
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: string
              example:
                error: false
                message: OK
                data:
                  - 2059410.579675561  7208125.260900677
                  - 12623630.255957223  5906238.113504741
                  - '-8012405.882330522  5078408.567466255'
                  - '-8123725.373123796  5228082.65572351'
  /v1/like:
    get:
      tags:
        - Likes
      summary: Get List of My Like
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: likes'
      security:
        - OauthUser:
            - likes
      x-codeSamples:
        $ref: ./example_v1_like.yml#/v1_like_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            data:
                              type: array
                              items:
                                oneOf:
                                  - $ref: ./schemas.yml#/schemas/chord_pagination
                                  - $ref: ./schemas.yml#/schemas/blog_pagination
                                  - $ref: ./schemas.yml#/schemas/twitter_pagination
              example:
                error: false
                message: OK
                data:
                  page: null
                  total: null
                  total_page: null
                  can_load: null
                  data:
                    - type: thread
                      data:
                        - like_id: 1234
                          id: '123456789'
                          title: 'Threads by @twitter_username: THREAD TEXT'
                          name: Name
                          screen_name: screen_name
                          created:
                            time_ago: 2 years ago
                            timestamp: 1579531646
                    - type: chord
                      data:
                        - id: 123456
                          artist: Sample Artist
                          slug_artist: sample-artist
                          title: Sample Song Title
                          created:
                            time_ago: 10 months ago
                            timestamp: 1609412549
                          seen:
                            number: 21
                            format: '21'
                          slug: sample-artist-sample-song-title
                          link: >-
                            https://portalnesia.com/chord/sample-artist-sample-song-title
                          user:
                            id: 123456
                            name: Name
                            username: username
                            picture: https://content.portalnesia.com/.....
                    - type: blog
                      data:
                        - id: 123456
                          title: Blog Title
                          created:
                            time_ago: a year ago
                            timestamp: 1591419184
                          image: https://content.portalnesia.com/.....
                          link: https://portalnesia.com/blog/blog-title
                          slug: blog-title
                          seen:
                            number: 1000
                            format: 1 K
                          category: tutorial
                          tags:
                            - FAQ
                          user:
                            id: 123456
                            username: username
                            name: Name
                            picture: https://content.portalnesia.com/.....
  /v1/like/{type}:
    get:
      tags:
        - Likes
      summary: Get List of My Like per Type
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: likes'
      security:
        - OauthUser:
            - likes
      x-codeSamples:
        $ref: ./example_v1_like__type.yml#/v1_like__type_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.    
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '1'
        - name: type
          in: path
          schema:
            type: string
            enum:
              - chord
              - blog
              - thread
          required: true
          description: |
            The specific type of content.    
            `chord`,`blog`,`thread`
          example: thread
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: object
                        properties:
                          type:
                            type: string
                          data:
                            type: array
                            items:
                              oneOf:
                                - $ref: ./schemas.yml#/schemas/chord_pagination
                                - $ref: ./schemas.yml#/schemas/blog_pagination
                                - $ref: ./schemas.yml#/schemas/twitter_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 3
                  can_load: true
                  data:
                    type: thread
                    data:
                      - like_id: 1234
                        id: '123456789'
                        title: 'Threads by @twitter_username: THREAD TEXT'
                        name: Name
                        screen_name: screen_name
                        created:
                          time_ago: 2 years ago
                          timestamp: 1579531646
  /v1/like/{type}/{like_id}:
    delete:
      tags:
        - Likes
      summary: Delete My Like
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: likes'
      security:
        - OauthUser:
            - likes
      x-codeSamples:
        $ref: ./example_v1_like__type___like_id.yml#/v1_like__type___like_id_delete
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: type
          in: path
          schema:
            type: string
            enum:
              - chord
              - blog
              - thread
          required: true
          description: |
            The specific type of content.    
            `chord`,`blog`,`thread`
          example: TYPE
        - name: like_id
          in: path
          schema:
            type: string
          required: true
          description: The `like_id` of content
          example: ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
  /v1/messages/room:
    get:
      tags:
        - Messages
      summary: Get All Chat Room
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: messages'
      security:
        - OauthUser:
            - messages
      x-codeSamples:
        $ref: ./example_v1_messages_room.yml#/v1_messages_room_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            timestamp:
                              type: integer
                            read:
                              type: boolean
                            user:
                              $ref: ./schemas.yml#/schemas/user_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 2
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      timestamp: 1610479283
                      read: true
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/.......
                        verify: false
    post:
      tags:
        - Messages
      summary: Create New Chat Room
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: messages'
      security:
        - OauthUser:
            - messages
      x-codeSamples:
        $ref: ./example_v1_messages_room.yml#/v1_messages_room_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - username
              properties:
                username:
                  type: string
                  description: |
                    The username that you want to create a chat room.
                  example: friend_username
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      timestamp:
                        type: integer
                      read:
                        type: boolean
                      user:
                        $ref: ./schemas.yml#/schemas/user_pagination
              example:
                error: false
                message: OK
                data:
                  id: 123456
                  timestamp: 1636805815
                  read: true
                  user:
                    id: 123456
                    name: Name
                    username: username
                    picture: https://content.portalnesia.com/.......
                    verify: false
  /v1/messages/{room_id}:
    get:
      tags:
        - Messages
      summary: Get Messages
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: messages'
      security:
        - OauthUser:
            - messages
      x-codeSamples:
        $ref: ./example_v1_messages__room_id.yml#/v1_messages__room_id_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 20   
            Max 50
          example: '20'
        - name: room_id
          in: path
          schema:
            type: integer
          required: true
          description: Chat room ID
          example: '5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/messages_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 4
                  total_page: 4
                  can_load: true
                  data:
                    - id: 123456
                      room: 123456
                      remove: false
                      read: true
                      delivered: true
                      from: 123456
                      to: 123456
                      message: Encrypted messages
                      timestamp: 1600393579
                      image: ''
                      type: messages
    post:
      tags:
        - Messages
      summary: Reply Messages
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: messages'
      security:
        - OauthUser:
            - messages
      x-codeSamples:
        $ref: ./example_v1_messages__room_id.yml#/v1_messages__room_id_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: tes
                image:
                  type: string
                  format: binary
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: room_id
          in: path
          schema:
            type: integer
          required: true
          description: Chat room ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: ./schemas.yml#/schemas/messages_pagination
              example:
                error: false
                message: OK
                data:
                  id: 123456
                  room: 123456
                  remove: false
                  read: false
                  delivered: false
                  message: tes
                  from: 123456
                  to: 123456
                  image: ''
                  type: messages
                  timestamp: 1636807783
  /v1/messages/{room_id}/{message_id}:
    delete:
      tags:
        - Messages
      summary: Delete Messages
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: messages'
      security:
        - OauthUser:
            - messages
      x-codeSamples:
        $ref: >-
          ./example_v1_messages__room_id___message_id.yml#/v1_messages__room_id___message_id_delete
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: force
          in: query
          schema:
            type: boolean
          required: false
          description: Remove message to all users
          example: 'true'
        - name: room_id
          in: path
          schema:
            type: integer
          required: true
          description: Chat room ID
          example: '123456'
        - name: message_id
          in: path
          schema:
            type: integer
          required: true
          description: Message ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
  /v1/quiz:
    get:
      tags:
        - Quiz
      summary: Get List of My Quiz
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: quiz'
      security:
        - OauthUser:
            - quiz
      x-codeSamples:
        $ref: ./example_v1_quiz.yml#/v1_quiz_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.yml#/schemas/quiz_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 3
                  can_load: true
                  data:
                    - id: e69e4df8-c112-59f0-9b5b-f33cdc5a9064
                      title: Debug
                      public: true
                      publish: false
                      total_response: 0
  /v1/quiz/{quiz_id}:
    get:
      tags:
        - Quiz
      summary: Get Quiz Detail
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: quiz'
      security:
        - OauthUser:
            - quiz
        - OauthClient:
            - quiz
      x-codeSamples:
        $ref: ./example_v1_quiz__quiz_id.yml#/v1_quiz__quiz_id_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: quiz_id
          in: path
          schema:
            type: string
          required: true
          description: Quiz ID
          example: e69e4df8-c112-59f0-9b5b-f33cdc5a9064
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: ./schemas.yml#/schemas/quiz
              example:
                error: false
                message: OK
                data:
                  id: e69e4df8-c112-59f0-9b5b-f33cdc5a9064
                  title: Debug
                  publish: false
                  public: true
                  self_answer: false
                  quiz:
                    - question: Siapa?
                      answer: kepo
                      choise:
                        - kepo
                        - kepi
                    - question: Dimana?
                      answer: Disini
                      choise:
                        - Disini
                        - Disana
                  user:
                    id: 123456
                    name: Name
                    username: username
                    picture: https://content.portalnesia.com/....
  /v1/search:
    get:
      tags:
        - Search
      summary: Search
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
      x-codeSamples:
        $ref: ./example_v1_search.yml#/v1_search_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: q
          in: query
          schema:
            type: string
          required: true
          description: Search query, what do you want to search
          example: portalnesia
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            data:
                              type: array
                              items:
                                oneOf:
                                  - $ref: ./schemas.yml#/schemas/chord_pagination
                                  - $ref: ./schemas.yml#/schemas/blog_pagination
                                  - $ref: ./schemas.yml#/schemas/twitter_pagination
                                  - $ref: ./schemas.yml#/schemas/user_pagination
              example:
                error: false
                message: OK
                data:
                  page: null
                  total: null
                  total_page: null
                  can_load: null
                  data:
                    - type: users
                      data:
                        - id: 123456
                          username: username
                          name: Name
                          picture: https://content.portalnesia.com/....
                    - type: chord
                      data:
                        - id: 123456
                          artist: Sample Artist
                          slug_artist: sample-artist
                          title: Sample Song Title
                          created:
                            time_ago: 10 months ago
                            timestamp: 1609412549
                          seen:
                            number: 21
                            format: '21'
                          slug: sample-artist-sample-song-title
                          link: >-
                            https://portalnesia.com/chord/sample-artist-sample-song-title
                          user:
                            id: 123456
                            name: Name
                            username: username
                            picture: https://content.portalnesia.com/.....
                    - type: blog
                      data:
                        - id: 123456
                          title: Blog Title
                          created:
                            time_ago: a year ago
                            timestamp: 1591419184
                          image: https://content.portalnesia.com/.....
                          link: https://portalnesia.com/blog/blog-title
                          slug: blog-title
                          seen:
                            number: 1000
                            format: 1 K
                          category: tutorial
                          tags:
                            - FAQ
                          user:
                            id: 123456
                            username: username
                            name: Name
                            picture: https://content.portalnesia.com/.....
  /v1/search/{type}:
    get:
      tags:
        - Search
      summary: Search per Type
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
      x-codeSamples:
        $ref: ./example_v1_search__type.yml#/v1_search__type_get
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: q
          in: query
          schema:
            type: string
          required: true
          description: Search query, what do you want to search
          example: portalnesia
        - name: page
[...]
