openapi: 3.0.0
info:
  title: Portalnesia
  description: REST API to access Portalnesia services
  version: 1.0.0
  x-logo:
    url: https://content.portalnesia.com/Banner.png
    backgroundColor: '#ffffff'
    altText: Portalnesia Logo
  termsOfService: https://portalnesia.com/pages/terms-of-service
  contact:
    name: Portalnesia
    url: https://portalnesia.com
    email: support@portalnesia.com
  license:
    name: MIT
    url: https://github.com/portalnesia/portalnesia/blob/main/LICENSE
servers:
  - url: https://api.portalnesia.com
    description: Portalnesia API Server
tags:
  - name: Blog
  - name: Comments
  - name: Chord
  - name: Files
  - name: Geodata
  - name: Likes
  - name: Messages
  - name: Quiz
  - name: Search
  - name: Toko
  - name: Toko > Items
  - name: Toko > Transactions
  - name: Toko > Users
  - name: Tools
  - name: Tools > Downloader
  - name: Twibbon
  - name: Twitter Thread Reader
  - name: URL Shortener
  - name: Users
paths:
  /v1/blog/dashboard:
    get:
      tags:
        - Blog
      summary: Get List of User Blog
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.portalnesia.com/v1/blog/dashboard?page=1&per_page=15' \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: |-
            var axios = require('axios');

            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }

            axios.get('https://api.portalnesia.com/v1/blog/dashboard',config)
            .then(function(response){
              console.log(response.data)
            })
            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/blog/dashboard?page=1&per_page=15");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog/dashboard?page=1&per_page=15",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET", "/v1/blog/dashboard?page=1&per_page=15",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/blog/dashboard?page=1&per_page=15")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.    
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.json#/schemas/blog_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 1
                  total_page: 1
                  can_load: false
                  data:
                    - id: 6
                      title: Blog name
                      created:
                        time_ago: 2 years ago
                        timestamp: 1586712498
                      image: https://content.portalnesia.com/......
                      link: https://portalnesia.com/blog/slug-name
                      slug: slug-name
                      seen:
                        number: 1
                        format: '1'
                      category: tutorial
                      tags:
                        - Wordpress
                        - Blog
                      user:
                        id: 123456
                        username: username
                        name: Name
                        picture: https://content.portalnesia.com/......
  /v1/blog:
    post:
      tags:
        - Blog
      summary: Create New Blog
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.portalnesia.com/v1/blog \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id' \
              --header 'content-type: application/x-www-form-urlencoded' \
              --data 'title=Test+blog' \
              --data slug=test-blog \
              --data 'text=%3Cp%3EHello+World%3C%2Fp%3E' \
              --data image=https%3A%2F%2Fcontent.portalnesia.com%2F... \
              --data format=html \
              --data tags=Blog%2CDevelopment \
              --data category=uncategory
        - lang: javascript
          label: Node + Axios
          source: |-
            var axios = require('axios');
            var qs = require('qs');

            var data = qs.stringify({
               'title': 'Test blog'
               'slug': 'test-blog'
               'text': '<p>Hello World</p>'
               'image': 'https://content.portalnesia.com/...'
               'format': 'html'
               'tags': 'Blog,Development'
               'category': 'uncategory'
            })

            var config = {
              headers: {
                'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                'PN-Client-Id': 'Your client id',
                'Content-Type': 'application/x-www-form-urlencoded'
              }
            }

            axios.post('https://api.portalnesia.com/v1/blog',data,config)
            .then(function(response){
              console.log(response.data)
            })
            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data =
            "title=Test%2Bblog&slug=test-blog&text=%253Cp%253EHello%2BWorld%253C%252Fp%253E&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=html&tags=Blog%252CDevelopment&category=uncategory";


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("POST", "https://api.portalnesia.com/v1/blog");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");

            xhr.setRequestHeader("content-type",
            "application/x-www-form-urlencoded");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "title=Test%2Bblog&slug=test-blog&text=%253Cp%253EHello%2BWorld%253C%252Fp%253E&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=html&tags=Blog%252CDevelopment&category=uncategory",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id",
                "content-type: application/x-www-form-urlencoded"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            payload =
            "title=Test%2Bblog&slug=test-blog&text=%253Cp%253EHello%2BWorld%253C%252Fp%253E&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=html&tags=Blog%252CDevelopment&category=uncategory"


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "application/x-www-form-urlencoded"
                }

            conn.request("POST", "/v1/blog", payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.post("https://api.portalnesia.com/v1/blog")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .header("content-type", "application/x-www-form-urlencoded")
              .body("title=Test%2Bblog&slug=test-blog&text=%253Cp%253EHello%2BWorld%253C%252Fp%253E&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=html&tags=Blog%252CDevelopment&category=uncategory")
              .asString();
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - title
                - slug
                - text
              properties:
                title:
                  type: string
                  description: |
                    Title of blog   
                  example: Test blog
                slug:
                  type: string
                  description: |
                    Slug URL   
                    Slugify format (lowercase and space replaced by `-`)   
                  example: test-blog
                text:
                  type: string
                  description: |
                    Content of blog     
                  example: <p>Hello World</p>
                image:
                  type: string
                  description: |-
                    Poster image of blog   
                    Any image URL   
                    Default `null`
                  example: https://content.portalnesia.com/...
                format:
                  type: string
                  enum:
                    - html
                    - markdown
                  description: |
                    `html` or `markdown`    
                    Default `html`
                  example: html
                tags:
                  type: string
                  description: |-
                    Tags of blog   
                    comma separate.   
                    Default `""`   
                  example: Blog,Development
                category:
                  type: string
                  description: >-
                    Blog category    

                    Get list of category in
                    [`/v1/category/list`](#get-/v1/blog/category/list)    

                    Default `uncategory`
                  example: uncategory
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      slug:
                        type: string
                      publish:
                        type: boolean
              example:
                error: false
                message: OK
                data:
                  slug: slug-name
                  publish: false
    get:
      tags:
        - Blog
      summary: Get List of All Blog
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.portalnesia.com/v1/blog?page=1&per_page=15' \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: |-
            var axios = require('axios');

            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }

            axios.get('https://api.portalnesia.com/v1/blog',config)
            .then(function(response){
              console.log(response.data)
            })
            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/blog?page=1&per_page=15");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog?page=1&per_page=15",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.portalnesia.com")

            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET", "/v1/blog?page=1&per_page=15", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/blog?page=1&per_page=15")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.json#/schemas/blog_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      title: Blog Title
                      created:
                        time_ago: a year ago
                        timestamp: 1591419184
                      image: https://content.portalnesia.com/.....
                      link: https://portalnesia.com/blog/blog-title
                      slug: blog-title
                      seen:
                        number: 1000
                        format: 1 K
                      category: tutorial
                      tags:
                        - FAQ
                      user:
                        id: 123456
                        username: username
                        name: Name
                        picture: https://content.portalnesia.com/.....
  /v1/blog/{blog_identity}:
    put:
      tags:
        - Blog
      summary: Edit User Blog
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request PUT \
              --url https://api.portalnesia.com/v1/blog/sample-blog-identity \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id' \
              --header 'content-type: application/x-www-form-urlencoded' \
              --data 'title=Test+blog' \
              --data slug=test-blog \
              --data 'text=%23+Hello+World' \
              --data image=https%3A%2F%2Fcontent.portalnesia.com%2F... \
              --data format=markdown \
              --data tags=Wordpress%2CBlog \
              --data category=uncategory \
              --data publish=false
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');

            var qs = require('qs');


            var data = qs.stringify({
               'title': 'Test blog'
               'slug': 'test-blog'
               'text': '# Hello World'
               'image': 'https://content.portalnesia.com/...'
               'format': 'markdown'
               'tags': 'Wordpress,Blog'
               'category': 'uncategory'
               'publish': 'false'
            })


            var config = {
              headers: {
                'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                'PN-Client-Id': 'Your client id',
                'Content-Type': 'application/x-www-form-urlencoded'
              }
            }


            axios.put('https://api.portalnesia.com/v1/blog/{blog_identity}',data,config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data =
            "title=Test%2Bblog&slug=test-blog&text=%2523%2BHello%2BWorld&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=markdown&tags=Wordpress%252CBlog&category=uncategory&publish=false";


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("PUT",
            "https://api.portalnesia.com/v1/blog/sample-blog-identity");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");

            xhr.setRequestHeader("content-type",
            "application/x-www-form-urlencoded");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog/sample-blog-identity",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PUT",
              CURLOPT_POSTFIELDS => "title=Test%2Bblog&slug=test-blog&text=%2523%2BHello%2BWorld&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=markdown&tags=Wordpress%252CBlog&category=uncategory&publish=false",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id",
                "content-type: application/x-www-form-urlencoded"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            payload =
            "title=Test%2Bblog&slug=test-blog&text=%2523%2BHello%2BWorld&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=markdown&tags=Wordpress%252CBlog&category=uncategory&publish=false"


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "application/x-www-form-urlencoded"
                }

            conn.request("PUT", "/v1/blog/sample-blog-identity", payload,
            headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.put("https://api.portalnesia.com/v1/blog/sample-blog-identity")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .header("content-type", "application/x-www-form-urlencoded")
              .body("title=Test%2Bblog&slug=test-blog&text=%2523%2BHello%2BWorld&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=markdown&tags=Wordpress%252CBlog&category=uncategory&publish=false")
              .asString();
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - title
                - slug
                - text
              properties:
                title:
                  type: string
                  description: |
                    Title of blog   
                  example: Test blog
                slug:
                  type: string
                  description: |
                    Slug URL   
                    Slugify format (lowercase and space replaced by `-`)   
                  example: test-blog
                text:
                  type: string
                  description: |
                    Content of blog    
                  example: '# Hello World'
                image:
                  type: string
                  description: |-
                    Poster image of blog   
                    Any image URL   
                    Default `null`
                  example: https://content.portalnesia.com/...
                format:
                  type: string
                  enum:
                    - html
                    - markdown
                  description: |
                    `html` or `markdown`    
                    Default `html`
                  example: markdown
                tags:
                  type: string
                  description: |-
                    Tags of blog   
                    comma separate.   
                    Default `""`
                  example: Wordpress,Blog
                category:
                  type: string
                  description: >-
                    Blog category    

                    Get list of category in
                    [`/v1/category/list`](#get-/v1/blog/category/list)    

                    Default `uncategory`
                  example: uncategory
                publish:
                  type: boolean
                  description: |-
                    `true` will publish the blog    
                    Default `false`
                  example: 'false'
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: blog_identity
          in: path
          schema:
            type: string
          required: true
          description: Slug of blog
          example: sample-blog-identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      slug:
                        type: string
                      publish:
                        type: boolean
              example:
                error: false
                message: OK
                data:
                  slug: slug-name
                  publish: false
    delete:
      tags:
        - Blog
      summary: Delete User Blog
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request DELETE \
              --url https://api.portalnesia.com/v1/blog/sample-blog-identity \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');


            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }


            axios.delete('https://api.portalnesia.com/v1/blog/{blog_identity}',config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("DELETE",
            "https://api.portalnesia.com/v1/blog/sample-blog-identity");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog/sample-blog-identity",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("DELETE", "/v1/blog/sample-blog-identity",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.delete("https://api.portalnesia.com/v1/blog/sample-blog-identity")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: blog_identity
          in: path
          schema:
            type: string
          required: true
          description: Slug of blog
          example: sample-blog-identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
    get:
      tags:
        - Blog
      summary: Get Blog Detail
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.portalnesia.com/v1/blog/sample-blog-identity \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');


            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }


            axios.get('https://api.portalnesia.com/v1/blog/{blog_identity}',config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/blog/sample-blog-identity");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog/sample-blog-identity",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET", "/v1/blog/sample-blog-identity",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/blog/sample-blog-identity")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: blog_identity
          in: path
          schema:
            type: string
          required: true
          description: Slug of blog
          example: sample-blog-identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: ./schemas.json#/schemas/blog
              example:
                error: false
                message: OK
                data:
                  id: 1234
                  title: Blog Title
                  image: https://content.portalnesia.com/.....
                  link: https://portalnesia.com/blog/blog-title
                  slug: blog-title
                  seen:
                    number: 1000
                    format: 1 K
                  created:
                    time_ago: a year ago
                    timestamp: 1591419184
                  last_modfied:
                    time_ago: 8 months ago
                    timestamp: 1614880820
                  format: html
                  category: tutorial
                  tags:
                    - FAQ
                  publish: true
                  block: false
                  user:
                    id: 123456
                    name: Name
                    username: username
                    picture: https://content.portalnesia.com/.....
                  text: .... HTML OR MARKDOWN
  /v1/blog/tags/{tag}:
    get:
      tags:
        - Blog
      summary: Get List of Blog by Tags
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.portalnesia.com/v1/blog/tags/sample-blog-tag?page=1&per_page=15' \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: |-
            var axios = require('axios');

            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }

            axios.get('https://api.portalnesia.com/v1/blog/tags/{tag}',config)
            .then(function(response){
              console.log(response.data)
            })
            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/blog/tags/sample-blog-tag?page=1&per_page=15");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog/tags/sample-blog-tag?page=1&per_page=15",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET",
            "/v1/blog/tags/sample-blog-tag?page=1&per_page=15", headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/blog/tags/sample-blog-tag?page=1&per_page=15")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: tag
          in: path
          schema:
            type: string
          required: true
          description: |
            Tag of blog.
            Slugify format (lowercase and space replaced by `-`)
          example: sample-blog-tag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.json#/schemas/blog_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      title: Blog Title
                      created:
                        time_ago: a year ago
                        timestamp: 1591419184
                      image: https://content.portalnesia.com/.....
                      link: https://portalnesia.com/blog/blog-title
                      slug: blog-title
                      seen:
                        number: 1000
                        format: 1 K
                      category: tutorial
                      tags:
                        - FAQ
                      user:
                        id: 123456
                        username: username
                        name: Name
                        picture: https://content.portalnesia.com/.....
  /v1/blog/category/{category}:
    get:
      tags:
        - Blog
      summary: Get List of Blog by Category
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.portalnesia.com/v1/blog/category/sample-blog-category?page=1&per_page=15' \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');


            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }


            axios.get('https://api.portalnesia.com/v1/blog/category/{category}',config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/blog/category/sample-blog-category?page=1&per_page=15");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog/category/sample-blog-category?page=1&per_page=15",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET",
            "/v1/blog/category/sample-blog-category?page=1&per_page=15",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/blog/category/sample-blog-category?page=1&per_page=15")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.    
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: category
          in: path
          schema:
            type: string
          required: true
          description: |-
            Category of blog.
            Slugify format (lowercase and space replaced by `-`)
          example: sample-blog-category
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.json#/schemas/blog_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 3
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      title: Blog Title
                      created:
                        time_ago: a year ago
                        timestamp: 1591419184
                      image: https://content.portalnesia.com/.....
                      link: https://portalnesia.com/blog/blog-title
                      slug: blog-title
                      seen:
                        number: 1000
                        format: 1 K
                      category: tutorial
                      tags:
                        - FAQ
                      user:
                        id: 123456
                        username: username
                        name: Name
                        picture: https://content.portalnesia.com/.....
  /v1/blog/category/list:
    get:
      tags:
        - Blog
      summary: Get List of Category
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: blog'
      security:
        - OauthUser:
            - blog
        - OauthClient:
            - blog
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.portalnesia.com/v1/blog/category/list \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');


            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }


            axios.get('https://api.portalnesia.com/v1/blog/category/list',config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/blog/category/list");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/blog/category/list",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.portalnesia.com")

            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET", "/v1/blog/category/list", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/blog/category/list")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: string
              example:
                error: false
                message: OK
                data:
                  - uncategory
                  - tutorial
                  - blog
  /v1/comments/{type}/{content_id}:
    get:
      tags:
        - Comments
      summary: Get Comments
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: comments'
      security:
        - OauthUser:
            - comments
        - OauthClient:
            - comments
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.portalnesia.com/v1/comments/blog/123456?page=1&per_page=15' \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');


            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }


            axios.get('https://api.portalnesia.com/v1/comments/{type}/{content_id}',config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/comments/blog/123456?page=1&per_page=15");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/comments/blog/123456?page=1&per_page=15",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET", "/v1/comments/blog/123456?page=1&per_page=15",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/comments/blog/123456?page=1&per_page=15")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: type
          in: path
          schema:
            type: string
          required: true
          description: |-
            Content type of comments.    
            `news`, `twitter_thread`, `blog`, `chord`
          example: blog
        - name: content_id
          in: path
          schema:
            type: integer
          required: true
          description: Content ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.json#/schemas/comment_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 1
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      timestamp: 1636886557
                      content:
                        id: 123456
                        posid: 123456
                        link: https://portalnesia.com/blog/....
                        type: blog
                        userid: 123456
                      comment: Tes
                      block: false
                      can_deleted: true
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/...
                      reply:
                        can_load: false
                        total: 1
                        data:
                          - id: 123456
                            timestamp: 1636887261
                            content:
                              id: 123456
                              posid: 123456
                              link: https://portalnesia.com/blog/....
                              type: blog
                              userid: 123456
                            comment: Tes Reply
                            block: false
                            can_deleted: true
                            user:
                              id: 123456
                              name: Name
                              username: username
                              picture: https://content.portalnesia.com/...
    post:
      tags:
        - Comments
      summary: Create New Comment
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: comments'
      security:
        - OauthUser:
            - comments
        - OauthClient:
            - comments
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.portalnesia.com/v1/comments/blog/123456 \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id' \
              --header 'content-type: application/x-www-form-urlencoded' \
              --data 'name=John+Doe' \
              --data email=email%40example.com \
              --data message=Tes \
              --data reply_to=2
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');

            var qs = require('qs');


            var data = qs.stringify({
               'name': 'John Doe'
               'email': 'email@example.com'
               'message': 'Tes'
               'reply_to': '2'
            })


            var config = {
              headers: {
                'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                'PN-Client-Id': 'Your client id',
                'Content-Type': 'application/x-www-form-urlencoded'
              }
            }


            axios.post('https://api.portalnesia.com/v1/comments/{type}/{content_id}',data,config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data =
            "name=John%2BDoe&email=email%2540example.com&message=Tes&reply_to=2";


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("POST",
            "https://api.portalnesia.com/v1/comments/blog/123456");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");

            xhr.setRequestHeader("content-type",
            "application/x-www-form-urlencoded");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/comments/blog/123456",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "name=John%2BDoe&email=email%2540example.com&message=Tes&reply_to=2",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id",
                "content-type: application/x-www-form-urlencoded"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            payload =
            "name=John%2BDoe&email=email%2540example.com&message=Tes&reply_to=2"


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "application/x-www-form-urlencoded"
                }

            conn.request("POST", "/v1/comments/blog/123456", payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.post("https://api.portalnesia.com/v1/comments/blog/123456")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .header("content-type", "application/x-www-form-urlencoded")
              .body("name=John%2BDoe&email=email%2540example.com&message=Tes&reply_to=2")
              .asString();
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - name
                - email
                - message
              properties:
                name:
                  type: string
                  description: |
                    The name of the commenter
                  example: John Doe
                email:
                  type: string
                  description: |
                    The email of the commenter
                  example: email@example.com
                message:
                  type: string
                  description: |
                    The message of comment
                  example: Tes
                reply_to:
                  type: integer
                  description: Replied comment id
                  example: '2'
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: type
          in: path
          schema:
            type: string
          required: true
          description: |-
            Content type of comments.    
            `news`, `twitter_thread`, `blog`, `chord`
          example: blog
        - name: content_id
          in: path
          schema:
            type: integer
          required: true
          description: Content ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: ./schemas.json#/schemas/comment_pagination
              example:
                error: false
                message: OK
                data:
                  id: 123456
                  comment: Tes
                  timestamp: 1636885894
                  content:
                    id: 123456
                    type: blog
                    link: https://portalnesia.com/blog/slug
                    userid: 123456
                  user:
                    id: 123456
                    name: Name
                    username: username
                    picture: https://content.portalnesia.com/....
                  block: false
                  can_deleted: true
                  reply:
                    total: 0
                    can_load: false
                    data: []
  /v1/comments/{type}/{content_id}/{comment_id}:
    get:
      tags:
        - Comments
      summary: Get Replies
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: comments'
      security:
        - OauthUser:
            - comments
        - OauthClient:
            - comments
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.portalnesia.com/v1/comments/blog/123456/123456?page=1&per_page=15' \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');


            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }


            axios.get('https://api.portalnesia.com/v1/comments/{type}/{content_id}/{comment_id}',config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/comments/blog/123456/123456?page=1&per_page=15");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/comments/blog/123456/123456?page=1&per_page=15",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET",
            "/v1/comments/blog/123456/123456?page=1&per_page=15",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/comments/blog/123456/123456?page=1&per_page=15")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
        - name: type
          in: path
          schema:
            type: string
          required: true
          description: |-
            Content type of comments.    
            `news`, `twitter_thread`, `blog`, `chord`
          example: blog
        - name: content_id
          in: path
          schema:
            type: integer
          required: true
          description: Content ID
          example: '123456'
        - name: comment_id
          in: path
          schema:
            type: integer
          required: true
          description: Comment ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.json#/schemas/comment_reply_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 2
                  total_page: 2
                  can_load: true
                  data:
                    - id: 123456
                      timestamp: 1636887261
                      content:
                        id: 123456
                        posid: 123456
                        link: https://portalnesia.com/blog/....
                        type: blog
                        userid: 123456
                      comment: Tes Reply
                      block: false
                      can_deleted: true
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/...
    delete:
      tags:
        - Comments
      summary: Delete Comments
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: comments'
      security:
        - OauthUser:
            - comments
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request DELETE \
              --url https://api.portalnesia.com/v1/comments/blog/123456/123456 \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: >-
            var axios = require('axios');


            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }


            axios.delete('https://api.portalnesia.com/v1/comments/{type}/{content_id}/{comment_id}',config)

            .then(function(response){
              console.log(response.data)
            })

            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("DELETE",
            "https://api.portalnesia.com/v1/comments/blog/123456/123456");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/comments/blog/123456/123456",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("DELETE", "/v1/comments/blog/123456/123456",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.delete("https://api.portalnesia.com/v1/comments/blog/123456/123456")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: type
          in: path
          schema:
            type: string
          required: true
          description: |-
            Content type of comments.    
            `news`, `twitter_thread`, `blog`, `chord`
          example: blog
        - name: content_id
          in: path
          schema:
            type: integer
          required: true
          description: Content ID
          example: '123456'
        - name: comment_id
          in: path
          schema:
            type: integer
          required: true
          description: Comment ID
          example: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
              example:
                error: false
                message: OK
  /v1/chord/dashboard:
    get:
      tags:
        - Chord
      summary: Get List of User Chord
      x-badges:
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: chord'
      security:
        - OauthUser:
            - chord
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.portalnesia.com/v1/chord/dashboard?page=1&per_page=15' \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: |-
            var axios = require('axios');

            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }

            axios.get('https://api.portalnesia.com/v1/chord/dashboard',config)
            .then(function(response){
              console.log(response.data)
            })
            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/chord/dashboard?page=1&per_page=15");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/chord/dashboard?page=1&per_page=15",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET", "/v1/chord/dashboard?page=1&per_page=15",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/chord/dashboard?page=1&per_page=15")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.   
            Default 15   
            Max 50
          example: '15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page
                      total:
                        type: integer
                        description: Total ammount of data
                      total_page:
                        type: integer
                        description: Total number of pages
                      can_load:
                        type: boolean
                        description: Status if this list have next page
                      data:
                        type: array
                        items:
                          $ref: ./schemas.json#/schemas/chord_pagination
              example:
                error: false
                message: OK
                data:
                  page: 1
                  total: 1
                  total_page: 1
                  can_load: false
                  data:
                    - id: 123456
                      artist: Sample Artist
                      slug_artist: sample-artist
                      title: Sample Song Title
                      created:
                        time_ago: 10 months ago
                        timestamp: 1609412549
                      seen:
                        number: 21
                        format: '21'
                      slug: sample-artist-sample-song-title
                      link: >-
                        https://portalnesia.com/chord/sample-artist-sample-song-title
                      user:
                        id: 123456
                        name: Name
                        username: username
                        picture: https://content.portalnesia.com/.....
  /v1/chord:
    get:
      tags:
        - Chord
      summary: Get List of All Chord
      x-badges:
        - color: blue
          label: 'OAuth: Client'
        - color: red
          label: 'OAuth: User'
        - color: yellow
          label: 'Scope: chord'
      security:
        - OauthUser:
            - chord
        - OauthClient:
            - chord
      x-codeSamples:
        - lang: shell
          label: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.portalnesia.com/v1/chord?page=1&per_page=15&order=popular' \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'PN-Client-Id: Your client id'
        - lang: javascript
          label: Node + Axios
          source: |-
            var axios = require('axios');

            var config = {
                headers: {
                  'Authorization': 'Bearer REPLACE_BEARER_TOKEN', 
                  'PN-Client-Id': 'Your client id'
                }
            }

            axios.get('https://api.portalnesia.com/v1/chord',config)
            .then(function(response){
              console.log(response.data)
            })
            .catch(function (error) {
              console.log('error', error);
            });
        - lang: javascript
          label: Javascript + Xhr
          source: >-
            const data = null;


            const xhr = new XMLHttpRequest();

            xhr.withCredentials = true;


            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });


            xhr.open("GET",
            "https://api.portalnesia.com/v1/chord?page=1&per_page=15&order=popular");

            xhr.setRequestHeader("PN-Client-Id", "Your client id");

            xhr.setRequestHeader("Authorization", "Bearer
            REPLACE_BEARER_TOKEN");


            xhr.send(data);
        - lang: php
          label: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.portalnesia.com/v1/chord?page=1&per_page=15&order=popular",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer REPLACE_BEARER_TOKEN",
                "PN-Client-Id: Your client id"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: python
          label: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.portalnesia.com")


            headers = {
                'PN-Client-Id': "Your client id",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN"
                }

            conn.request("GET", "/v1/chord?page=1&per_page=15&order=popular",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: java
          label: Java + Unirest
          source: >-
            HttpResponse<String> response =
            Unirest.get("https://api.portalnesia.com/v1/chord?page=1&per_page=15&order=popular")
              .header("PN-Client-Id", "Your client id")
              .header("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .asString();
      parameters:
        - name: PN-Client-Id
          in: header
          schema:
            type: string
          required: true
          description: Client Id
          example: Your client id
        - name: page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of page.     
            Default 1
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          required: false
          description: |-
            Number of total data per page.
            Default 15
            Max 50
          example: '15'
        - name: order
          in: query
          schema:
            type: string
          required: false
          description: |-
            Order of content.   
            `popular` or `recent`    
            Default recent
          example: popular
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
[...]
