{"openapi":"3.0.0","info":{"title":"Portalnesia","description":"REST API to access Portalnesia services","version":"1.0.0","x-logo":{"url":"https://content.portalnesia.com/Banner.png","backgroundColor":"#ffffff","altText":"Portalnesia Logo"},"termsOfService":"https://portalnesia.com/pages/terms-of-service","contact":{"name":"Portalnesia","url":"https://portalnesia.com","email":"support@portalnesia.com"},"license":{"name":"MIT","url":"https://github.com/portalnesia/portalnesia/blob/main/LICENSE"}},"servers":[{"url":"https://api.portalnesia.com","description":"Portalnesia API Server"}],"tags":[{"name":"Authentication"},{"name":"Blog"},{"name":"Comments"},{"name":"Chord"},{"name":"Files"},{"name":"Geodata"},{"name":"Likes"},{"name":"Messages"},{"name":"Quiz"},{"name":"Search"},{"name":"Toko"},{"name":"Toko > Items"},{"name":"Toko > Transactions"},{"name":"Toko > Users"},{"name":"Tools"},{"name":"Tools > Downloader"},{"name":"Twibbon"},{"name":"Twitter Thread Reader"},{"name":"URL Shortener"},{"name":"Users"}],"paths":{"/v1/blog/dashboard":{"get":{"tags":["Blog"],"summary":"Get List of My Blog","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/blog/dashboard?page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/blog/dashboard',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/blog/dashboard?page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog/dashboard?page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/blog/dashboard?page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/blog/dashboard?page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.    \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.   \nDefault 15   \nMax 50","example":"15"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/blog_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":1,"total_page":1,"can_load":false,"data":[{"id":6,"title":"Blog name","created":{"time_ago":"2 years ago","timestamp":1586712498},"image":"https://content.portalnesia.com/......","link":"https://portalnesia.com/blog/slug-name","slug":"slug-name","seen":{"number":1,"format":"1"},"category":"tutorial","tags":["Wordpress","Blog"],"user":{"id":123456,"username":"username","name":"Name","picture":"https://content.portalnesia.com/......"}}]}}}}}}}},"/v1/blog":{"post":{"tags":["Blog"],"summary":"Create New Blog","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.portalnesia.com/v1/blog \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id' \\\n  --header 'content-type: application/x-www-form-urlencoded' \\\n  --data 'title=Test+blog' \\\n  --data slug=test-blog \\\n  --data 'text=%3Cp%3EHello+World%3C%2Fp%3E' \\\n  --data image=https%3A%2F%2Fcontent.portalnesia.com%2F... \\\n  --data format=html \\\n  --data tags=Blog%2CDevelopment \\\n  --data category=uncategory"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\nvar qs = require('qs');\n\nvar data = qs.stringify({\n   'title': 'Test blog'\n   'slug': 'test-blog'\n   'text': '<p>Hello World</p>'\n   'image': 'https://content.portalnesia.com/...'\n   'format': 'html'\n   'tags': 'Blog,Development'\n   'category': 'uncategory'\n})\n\nvar config = {\n  headers: {\n    'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n    'PN-Client-Id': 'Your client id',\n    'Content-Type': 'application/x-www-form-urlencoded'\n  }\n}\n\naxios.post('https://api.portalnesia.com/v1/blog',data,config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = \"title=Test%2Bblog&slug=test-blog&text=%253Cp%253EHello%2BWorld%253C%252Fp%253E&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=html&tags=Blog%252CDevelopment&category=uncategory\";\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://api.portalnesia.com/v1/blog\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nxhr.setRequestHeader(\"content-type\", \"application/x-www-form-urlencoded\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"title=Test%2Bblog&slug=test-blog&text=%253Cp%253EHello%2BWorld%253C%252Fp%253E&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=html&tags=Blog%252CDevelopment&category=uncategory\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\",\n    \"content-type: application/x-www-form-urlencoded\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\npayload = \"title=Test%2Bblog&slug=test-blog&text=%253Cp%253EHello%2BWorld%253C%252Fp%253E&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=html&tags=Blog%252CDevelopment&category=uncategory\"\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/x-www-form-urlencoded\"\n    }\n\nconn.request(\"POST\", \"/v1/blog\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.post(\"https://api.portalnesia.com/v1/blog\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .header(\"content-type\", \"application/x-www-form-urlencoded\")\n  .body(\"title=Test%2Bblog&slug=test-blog&text=%253Cp%253EHello%2BWorld%253C%252Fp%253E&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=html&tags=Blog%252CDevelopment&category=uncategory\")\n  .asString();"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["title","slug","text"],"properties":{"title":{"type":"string","description":"Title of blog   \n","example":"Test blog"},"slug":{"type":"string","description":"Slug URL   \nSlugify format (lowercase and space replaced by `-`)   \n","example":"test-blog"},"text":{"type":"string","description":"Content of blog     \n","example":"<p>Hello World</p>"},"image":{"type":"string","description":"Poster image of blog   \nAny image URL   \nDefault `null`","example":"https://content.portalnesia.com/..."},"format":{"type":"string","enum":["html","markdown"],"description":"`html` or `markdown`    \nDefault `html`\n","example":"html"},"tags":{"type":"string","description":"Tags of blog   \ncomma separate.   \nDefault `\"\"`   ","example":"Blog,Development"},"category":{"type":"string","description":"Blog category    \nGet list of category in [`/v1/category/list`](#get-/v1/blog/category/list)    \nDefault `uncategory`","example":"uncategory"}}}}}},"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"}}},"example":{"error":false,"message":"OK"}}}}}},"get":{"tags":["Blog"],"summary":"Get List of All Blog","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]},{"OauthClient":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/blog?page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/blog',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/blog?page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog?page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/blog?page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/blog?page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.     \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.   \nDefault 15   \nMax 50","example":"15"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/blog_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":3,"total_page":1,"can_load":false,"data":[{"id":123456,"title":"Blog Title","created":{"time_ago":"a year ago","timestamp":1591419184},"image":"https://content.portalnesia.com/.....","link":"https://portalnesia.com/blog/blog-title","slug":"blog-title","seen":{"number":1000,"format":"1 K"},"category":"tutorial","tags":["FAQ"],"user":{"id":123456,"username":"username","name":"Name","picture":"https://content.portalnesia.com/....."}}]}}}}}}}},"/v1/blog/{blog_identity}":{"put":{"tags":["Blog"],"summary":"Edit My Blog","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request PUT \\\n  --url https://api.portalnesia.com/v1/blog/sample-blog-identity \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id' \\\n  --header 'content-type: application/x-www-form-urlencoded' \\\n  --data 'title=Test+blog' \\\n  --data slug=test-blog \\\n  --data 'text=%23+Hello+World' \\\n  --data image=https%3A%2F%2Fcontent.portalnesia.com%2F... \\\n  --data format=markdown \\\n  --data tags=Wordpress%2CBlog \\\n  --data category=uncategory \\\n  --data publish=false"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\nvar qs = require('qs');\n\nvar data = qs.stringify({\n   'title': 'Test blog'\n   'slug': 'test-blog'\n   'text': '# Hello World'\n   'image': 'https://content.portalnesia.com/...'\n   'format': 'markdown'\n   'tags': 'Wordpress,Blog'\n   'category': 'uncategory'\n   'publish': 'false'\n})\n\nvar config = {\n  headers: {\n    'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n    'PN-Client-Id': 'Your client id',\n    'Content-Type': 'application/x-www-form-urlencoded'\n  }\n}\n\naxios.put('https://api.portalnesia.com/v1/blog/{blog_identity}',data,config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = \"title=Test%2Bblog&slug=test-blog&text=%2523%2BHello%2BWorld&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=markdown&tags=Wordpress%252CBlog&category=uncategory&publish=false\";\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"PUT\", \"https://api.portalnesia.com/v1/blog/sample-blog-identity\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nxhr.setRequestHeader(\"content-type\", \"application/x-www-form-urlencoded\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog/sample-blog-identity\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"title=Test%2Bblog&slug=test-blog&text=%2523%2BHello%2BWorld&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=markdown&tags=Wordpress%252CBlog&category=uncategory&publish=false\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\",\n    \"content-type: application/x-www-form-urlencoded\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\npayload = \"title=Test%2Bblog&slug=test-blog&text=%2523%2BHello%2BWorld&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=markdown&tags=Wordpress%252CBlog&category=uncategory&publish=false\"\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/x-www-form-urlencoded\"\n    }\n\nconn.request(\"PUT\", \"/v1/blog/sample-blog-identity\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.put(\"https://api.portalnesia.com/v1/blog/sample-blog-identity\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .header(\"content-type\", \"application/x-www-form-urlencoded\")\n  .body(\"title=Test%2Bblog&slug=test-blog&text=%2523%2BHello%2BWorld&image=https%253A%252F%252Fcontent.portalnesia.com%252F...&format=markdown&tags=Wordpress%252CBlog&category=uncategory&publish=false\")\n  .asString();"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["title","slug","text"],"properties":{"title":{"type":"string","description":"Title of blog   \n","example":"Test blog"},"slug":{"type":"string","description":"Slug URL   \nSlugify format (lowercase and space replaced by `-`)   \n","example":"test-blog"},"text":{"type":"string","description":"Content of blog    \n","example":"# Hello World"},"image":{"type":"string","description":"Poster image of blog   \nAny image URL   \nDefault `null`","example":"https://content.portalnesia.com/..."},"format":{"type":"string","enum":["html","markdown"],"description":"`html` or `markdown`    \nDefault `html`\n","example":"markdown"},"tags":{"type":"string","description":"Tags of blog   \ncomma separate.   \nDefault `\"\"`","example":"Wordpress,Blog"},"category":{"type":"string","description":"Blog category    \nGet list of category in [`/v1/category/list`](#get-/v1/blog/category/list)    \nDefault `uncategory`","example":"uncategory"},"publish":{"type":"boolean","description":"`true` will publish the blog    \nDefault `false`","example":"false"}}}}}},"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"blog_identity","in":"path","schema":{"type":"string"},"required":true,"description":"Slug of blog","example":"sample-blog-identity"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"slug":{"type":"string"},"publish":{"type":"boolean"}}}}},"example":{"error":false,"message":"OK","data":{"slug":"slug-name","publish":false}}}}}}},"delete":{"tags":["Blog"],"summary":"Delete My Blog","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request DELETE \\\n  --url https://api.portalnesia.com/v1/blog/sample-blog-identity \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.delete('https://api.portalnesia.com/v1/blog/{blog_identity}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \"https://api.portalnesia.com/v1/blog/sample-blog-identity\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog/sample-blog-identity\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"DELETE\", \"/v1/blog/sample-blog-identity\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.delete(\"https://api.portalnesia.com/v1/blog/sample-blog-identity\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"blog_identity","in":"path","schema":{"type":"string"},"required":true,"description":"Slug of blog","example":"sample-blog-identity"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"}}},"example":{"error":false,"message":"OK"}}}}}},"get":{"tags":["Blog"],"summary":"Get Blog Detail","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]},{"OauthClient":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.portalnesia.com/v1/blog/sample-blog-identity \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/blog/{blog_identity}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/blog/sample-blog-identity\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog/sample-blog-identity\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/blog/sample-blog-identity\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/blog/sample-blog-identity\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"blog_identity","in":"path","schema":{"type":"string"},"required":true,"description":"Slug of blog","example":"sample-blog-identity"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"./schemas.json#/schemas/blog"}}},"example":{"error":false,"message":"OK","data":{"id":1234,"title":"Blog Title","image":"https://content.portalnesia.com/.....","link":"https://portalnesia.com/blog/blog-title","slug":"blog-title","seen":{"number":1000,"format":"1 K"},"created":{"time_ago":"a year ago","timestamp":1591419184},"last_modfied":{"time_ago":"8 months ago","timestamp":1614880820},"format":"html","category":"tutorial","tags":["FAQ"],"publish":true,"block":false,"user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/....."},"text":".... HTML OR MARKDOWN"}}}}}}}},"/v1/blog/tags/{tag}":{"get":{"tags":["Blog"],"summary":"Get List of Blog by Tags","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]},{"OauthClient":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/blog/tags/sample-blog-tag?page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/blog/tags/{tag}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/blog/tags/sample-blog-tag?page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog/tags/sample-blog-tag?page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/blog/tags/sample-blog-tag?page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/blog/tags/sample-blog-tag?page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.     \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.   \nDefault 15   \nMax 50","example":"15"},{"name":"tag","in":"path","schema":{"type":"string"},"required":true,"description":"Tag of blog.\nSlugify format (lowercase and space replaced by `-`)\n","example":"sample-blog-tag"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/blog_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":3,"total_page":1,"can_load":false,"data":[{"id":123456,"title":"Blog Title","created":{"time_ago":"a year ago","timestamp":1591419184},"image":"https://content.portalnesia.com/.....","link":"https://portalnesia.com/blog/blog-title","slug":"blog-title","seen":{"number":1000,"format":"1 K"},"category":"tutorial","tags":["FAQ"],"user":{"id":123456,"username":"username","name":"Name","picture":"https://content.portalnesia.com/....."}}]}}}}}}}},"/v1/blog/category/{category}":{"get":{"tags":["Blog"],"summary":"Get List of Blog by Category","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]},{"OauthClient":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/blog/category/sample-blog-category?page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/blog/category/{category}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/blog/category/sample-blog-category?page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog/category/sample-blog-category?page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/blog/category/sample-blog-category?page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/blog/category/sample-blog-category?page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.    \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.   \nDefault 15   \nMax 50","example":"15"},{"name":"category","in":"path","schema":{"type":"string"},"required":true,"description":"Category of blog.\nSlugify format (lowercase and space replaced by `-`)","example":"sample-blog-category"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/blog_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":3,"total_page":1,"can_load":false,"data":[{"id":123456,"title":"Blog Title","created":{"time_ago":"a year ago","timestamp":1591419184},"image":"https://content.portalnesia.com/.....","link":"https://portalnesia.com/blog/blog-title","slug":"blog-title","seen":{"number":1000,"format":"1 K"},"category":"tutorial","tags":["FAQ"],"user":{"id":123456,"username":"username","name":"Name","picture":"https://content.portalnesia.com/....."}}]}}}}}}}},"/v1/blog/category/list":{"get":{"tags":["Blog"],"summary":"Get List of Category","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: blog"}],"security":[{"OauthUser":["blog"]},{"OauthClient":["blog"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.portalnesia.com/v1/blog/category/list \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/blog/category/list',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/blog/category/list\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/blog/category/list\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/blog/category/list\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/blog/category/list\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"string"}}}},"example":{"error":false,"message":"OK","data":["uncategory","tutorial","blog"]}}}}}}},"/v1/comments/{type}/{content_id}":{"get":{"tags":["Comments"],"summary":"Get Comments","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: comments"}],"security":[{"OauthUser":["comments"]},{"OauthClient":["comments"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/comments/blog/123456?page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/comments/{type}/{content_id}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/comments/blog/123456?page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/comments/blog/123456?page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/comments/blog/123456?page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/comments/blog/123456?page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.     \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.   \nDefault 15   \nMax 50","example":"15"},{"name":"type","in":"path","schema":{"type":"string"},"required":true,"description":"Content type of comments.    \n`news`, `twitter_thread`, `blog`, `chord`, `event`","example":"blog"},{"name":"content_id","in":"path","schema":{"type":"integer"},"required":true,"description":"Content ID","example":"123456"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/comment_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":1,"total_page":1,"can_load":false,"data":[{"id":123456,"timestamp":1636886557,"content":{"id":123456,"posid":123456,"link":"https://portalnesia.com/blog/....","type":"blog","userid":123456},"comment":"Tes","block":false,"can_deleted":true,"user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/..."},"reply":{"can_load":false,"total":1,"data":[{"id":123456,"timestamp":1636887261,"content":{"id":123456,"posid":123456,"link":"https://portalnesia.com/blog/....","type":"blog","userid":123456},"comment":"Tes Reply","block":false,"can_deleted":true,"user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/..."}}]}}]}}}}}}},"post":{"tags":["Comments"],"summary":"Create New Comment","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: comments"}],"security":[{"OauthUser":["comments"]},{"OauthClient":["comments"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.portalnesia.com/v1/comments/blog/123456 \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id' \\\n  --header 'content-type: application/x-www-form-urlencoded' \\\n  --data 'name=John+Doe' \\\n  --data email=email%40example.com \\\n  --data message=Tes \\\n  --data reply_to=2"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\nvar qs = require('qs');\n\nvar data = qs.stringify({\n   'name': 'John Doe'\n   'email': 'email@example.com'\n   'message': 'Tes'\n   'reply_to': '2'\n})\n\nvar config = {\n  headers: {\n    'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n    'PN-Client-Id': 'Your client id',\n    'Content-Type': 'application/x-www-form-urlencoded'\n  }\n}\n\naxios.post('https://api.portalnesia.com/v1/comments/{type}/{content_id}',data,config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = \"name=John%2BDoe&email=email%2540example.com&message=Tes&reply_to=2\";\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://api.portalnesia.com/v1/comments/blog/123456\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nxhr.setRequestHeader(\"content-type\", \"application/x-www-form-urlencoded\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/comments/blog/123456\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"name=John%2BDoe&email=email%2540example.com&message=Tes&reply_to=2\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\",\n    \"content-type: application/x-www-form-urlencoded\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\npayload = \"name=John%2BDoe&email=email%2540example.com&message=Tes&reply_to=2\"\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/x-www-form-urlencoded\"\n    }\n\nconn.request(\"POST\", \"/v1/comments/blog/123456\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.post(\"https://api.portalnesia.com/v1/comments/blog/123456\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .header(\"content-type\", \"application/x-www-form-urlencoded\")\n  .body(\"name=John%2BDoe&email=email%2540example.com&message=Tes&reply_to=2\")\n  .asString();"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["name","email","message"],"properties":{"name":{"type":"string","description":"The name of the commenter\n","example":"John Doe"},"email":{"type":"string","description":"The email of the commenter\n","example":"email@example.com"},"message":{"type":"string","description":"The message of comment\n","example":"Tes"},"reply_to":{"type":"integer","description":"Replied comment id","example":"2"}}}}}},"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"type","in":"path","schema":{"type":"string"},"required":true,"description":"Content type of comments.    \n`news`, `twitter_thread`, `blog`, `chord`, `event`","example":"blog"},{"name":"content_id","in":"path","schema":{"type":"integer"},"required":true,"example":"123456"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"./schemas.json#/schemas/comment_pagination"}}},"example":{"error":false,"message":"OK","data":{"id":123456,"comment":"Tes","timestamp":1636885894,"content":{"id":123456,"type":"blog","link":"https://portalnesia.com/blog/slug","userid":123456},"user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/...."},"block":false,"can_deleted":true,"reply":{"total":0,"can_load":false,"data":[]}}}}}}}}},"/v1/comments/{type}/{content_id}/{comment_id}":{"get":{"tags":["Comments"],"summary":"Get Replies","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: comments"}],"security":[{"OauthUser":["comments"]},{"OauthClient":["comments"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/comments/blog/123456/123456?page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/comments/{type}/{content_id}/{comment_id}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/comments/blog/123456/123456?page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/comments/blog/123456/123456?page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/comments/blog/123456/123456?page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/comments/blog/123456/123456?page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.     \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.   \nDefault 15   \nMax 50","example":"15"},{"name":"type","in":"path","schema":{"type":"string"},"required":true,"description":"Content type of comments.    \n`news`, `twitter_thread`, `blog`, `chord`, `event`","example":"blog"},{"name":"content_id","in":"path","schema":{"type":"integer"},"required":true,"description":"Content ID","example":"123456"},{"name":"comment_id","in":"path","schema":{"type":"integer"},"required":true,"description":"Comment ID","example":"123456"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/comment_reply_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":2,"total_page":2,"can_load":true,"data":[{"id":123456,"timestamp":1636887261,"content":{"id":123456,"posid":123456,"link":"https://portalnesia.com/blog/....","type":"blog","userid":123456},"comment":"Tes Reply","block":false,"can_deleted":true,"user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/..."}}]}}}}}}},"delete":{"tags":["Comments"],"summary":"Delete Comments","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: comments"}],"security":[{"OauthUser":["comments"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request DELETE \\\n  --url https://api.portalnesia.com/v1/comments/blog/123456/123456 \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.delete('https://api.portalnesia.com/v1/comments/{type}/{content_id}/{comment_id}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \"https://api.portalnesia.com/v1/comments/blog/123456/123456\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/comments/blog/123456/123456\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"DELETE\", \"/v1/comments/blog/123456/123456\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.delete(\"https://api.portalnesia.com/v1/comments/blog/123456/123456\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"type","in":"path","schema":{"type":"string"},"required":true,"description":"Content type of comments.    \n`news`, `twitter_thread`, `blog`, `chord`, `event`","example":"blog"},{"name":"content_id","in":"path","schema":{"type":"integer"},"required":true,"description":"Content ID","example":"123456"},{"name":"comment_id","in":"path","schema":{"type":"integer"},"required":true,"description":"Comment ID","example":"123456"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"}}},"example":{"error":false,"message":"OK"}}}}}}},"/v1/chord/dashboard":{"get":{"tags":["Chord"],"summary":"Get List of My Chord","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: chord"}],"security":[{"OauthUser":["chord"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/chord/dashboard?page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/chord/dashboard',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/chord/dashboard?page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/chord/dashboard?page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/chord/dashboard?page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/chord/dashboard?page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.     \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.   \nDefault 15   \nMax 50","example":"15"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/chord_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":1,"total_page":1,"can_load":false,"data":[{"id":123456,"artist":"Sample Artist","slug_artist":"sample-artist","title":"Sample Song Title","created":{"time_ago":"10 months ago","timestamp":1609412549},"seen":{"number":21,"format":"21"},"slug":"sample-artist-sample-song-title","link":"https://portalnesia.com/chord/sample-artist-sample-song-title","user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/....."}}]}}}}}}}},"/v1/chord":{"get":{"tags":["Chord"],"summary":"Get List of All Chord","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: chord"}],"security":[{"OauthUser":["chord"]},{"OauthClient":["chord"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/chord?page=1&per_page=15&order=popular' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/chord',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/chord?page=1&per_page=15&order=popular\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/chord?page=1&per_page=15&order=popular\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/chord?page=1&per_page=15&order=popular\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/chord?page=1&per_page=15&order=popular\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.     \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.\nDefault 15\nMax 50","example":"15"},{"name":"order","in":"query","schema":{"type":"string"},"required":false,"description":"Order of content.   \n`popular` or `recent`    \nDefault recent","example":"popular"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/chord_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":43,"total_page":3,"can_load":true,"data":[{"id":123456,"artist":"Sample Artist","slug_artist":"sample-artist","title":"Sample Song Title","created":{"time_ago":"10 months ago","timestamp":1609412549},"seen":{"number":21,"format":"21"},"slug":"sample-artist-sample-song-title","link":"https://portalnesia.com/chord/sample-artist-sample-song-title","user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/....."}}]}}}}}}}},"/v1/chord/artist/{artist}":{"get":{"tags":["Chord"],"summary":"Get List of Chord by Artist","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: chord"}],"security":[{"OauthUser":["chord"]},{"OauthClient":["chord"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/chord/artist/sample-artist?page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/chord/artist/{artist}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/chord/artist/sample-artist?page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/chord/artist/sample-artist?page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/chord/artist/sample-artist?page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/chord/artist/sample-artist?page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.    \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.\nDefault 15\nMax 50","example":"15"},{"name":"artist","in":"path","schema":{"type":"string"},"required":true,"description":"Slug of artist","example":"sample-artist"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/chord_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":3,"total_page":1,"can_load":false,"data":[{"id":123456,"artist":"Sample Artist","slug_artist":"sample-artist","title":"Sample Song Title","created":{"time_ago":"10 months ago","timestamp":1609412549},"seen":{"number":21,"format":"21"},"slug":"sample-artist-sample-song-title","link":"https://portalnesia.com/chord/sample-artist-sample-song-title","user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/....."}}]}}}}}}}},"/v1/chord/artist/list":{"get":{"tags":["Chord"],"summary":"Get List of All Artist","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: chord"}],"security":[{"OauthUser":["chord"]},{"OauthClient":["chord"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/chord/artist/list?page=1&per_page=15&q=superman' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/chord/artist/list',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/chord/artist/list?page=1&per_page=15&q=superman\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/chord/artist/list?page=1&per_page=15&q=superman\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/chord/artist/list?page=1&per_page=15&q=superman\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/chord/artist/list?page=1&per_page=15&q=superman\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.     \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.\nDefault 15\nMax 50","example":"15"},{"name":"q","in":"query","schema":{"type":"string"},"required":false,"description":"Search name of artist","example":"superman"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"data":{"type":"array","items":{"type":"string"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":43,"total_page":9,"can_load":true,"data":["Artist A","Artist B","Artist C","Artist D","Artist E"]}}}}}}}},"/v1/chord/{slug}":{"get":{"tags":["Chord"],"summary":"Get Chord Detail","x-badges":[{"color":"blue","label":"OAuth: Client"},{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: chord"}],"security":[{"OauthUser":["chord"]},{"OauthClient":["chord"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.portalnesia.com/v1/chord/sample-chord-identity \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/chord/{slug}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/chord/sample-chord-identity\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/chord/sample-chord-identity\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/chord/sample-chord-identity\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/chord/sample-chord-identity\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"slug","in":"path","schema":{"type":"string"},"required":true,"description":"Slug of chord","example":"sample-chord-identity"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"./schemas.json#/schemas/chord"}}},"example":{"error":false,"message":"OK","data":{"id":123456,"artist":"Sample Artist","slug_artist":"sample-artist","title":"Sample Song Title","slug":"sample-artist-sample-song-title","seen":{"number":21,"format":"21"},"created":{"time_ago":"10 months ago","timestamp":1609412549},"last_modified":{"time_ago":"10 months ago","timestamp":1609412549},"link":"https://portalnesia.com/chord/sample-artist-sample-song-title","publish":true,"block":false,"user":{"id":123456,"name":"Name","username":"username","picture":"https://content.portalnesia.com/....."},"text":"CHORD STRING"}}}}}}}},"/v1/files":{"get":{"tags":["Files"],"summary":"Get List of My Files","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: files"}],"security":[{"OauthUser":["files"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.portalnesia.com/v1/files?q=title%20searching&page=1&per_page=15' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/files',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/files?q=title%20searching&page=1&per_page=15\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/files?q=title%20searching&page=1&per_page=15\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/files?q=title%20searching&page=1&per_page=15\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/files?q=title%20searching&page=1&per_page=15\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"q","in":"query","schema":{"type":"string"},"required":false,"description":"Query, if you want to search specific file title.","example":"title searching"},{"name":"page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of page.    \nDefault 1","example":"1"},{"name":"per_page","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of total data per page.   \nDefault 15   \nMax 50","example":"15"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"page":{"type":"integer","description":"Current page"},"total":{"type":"integer","description":"Total ammount of data"},"total_page":{"type":"integer","description":"Total number of pages"},"can_load":{"type":"boolean","description":"Status if this list have next page"},"total_size":{"type":"integer"},"data":{"type":"array","items":{"$ref":"./schemas.json#/schemas/files_pagination"}}}}}},"example":{"error":false,"message":"OK","data":{"page":1,"total":30,"total_page":30,"can_load":true,"total_size":34205756,"data":[{"id":"id-of-files","id_number":123456,"title":"Files title","created":{"time_ago":"2 minutes ago","timestamp":1636969306},"private":false,"type":"audio","size":"9.52 MB","thumbs":"https://content.portalnesia.com/.....","url":"https://......","artist":"Artist of the files, if file type audio"}]}}}}}}},"post":{"tags":["Files"],"summary":"Upload Files","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: files"}],"security":[{"OauthUser":["files"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.portalnesia.com/v1/files \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id' \\\n  --header 'content-type: multipart/form-data' \\\n  --form file=string \\\n  --form 'youtube=https://www.youtube.com/watch?v=...'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\nvar fs = require('fs');\n\nvar data = new FormData();\ndata.append('file',fs.createReadStream('string'))\ndata.append('youtube','https://www.youtube.com/watch?v=...')\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.post('https://api.portalnesia.com/v1/files',data,config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = new FormData();\ndata.append(\"file\", \"string\");\ndata.append(\"youtube\", \"https://www.youtube.com/watch?v=...\");\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://api.portalnesia.com/v1/files\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/files\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"file\\\"\\r\\n\\r\\nstring\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"youtube\\\"\\r\\n\\r\\nhttps://www.youtube.com/watch?v=...\\r\\n-----011000010111000001101001--\\r\\n\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\",\n    \"content-type: multipart/form-data\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"file\\\"\\r\\n\\r\\nstring\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"youtube\\\"\\r\\n\\r\\nhttps://www.youtube.com/watch?v=...\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"POST\", \"/v1/files\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.post(\"https://api.portalnesia.com/v1/files\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .body(\"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"file\\\"\\r\\n\\r\\nstring\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"youtube\\\"\\r\\n\\r\\nhttps://www.youtube.com/watch?v=...\\r\\n-----011000010111000001101001--\\r\\n\")\n  .asString();"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","description":"The files you want to upload.    \n**Required if youtube field is not set**","format":"binary"},"youtube":{"type":"string","description":"Youtube URL, if you want to add youtube video to your profile media page.    \n**Required if file field is not set**","example":"https://www.youtube.com/watch?v=..."}}}}}},"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string"}}}}},"example":{"error":false,"message":"OK","data":{"id":"7d21b667-c92b-5304-93c1-1eac1b5922a2"}}}}}}}},"/v1/files/{file_id}":{"get":{"tags":["Files"],"summary":"Get Files or Media Detail","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: files"}],"security":[{"OauthUser":["files"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.portalnesia.com/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2 \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\n\nvar config = {\n    headers: {\n      'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n      'PN-Client-Id': 'Your client id'\n    }\n}\n\naxios.get('https://api.portalnesia.com/v1/files/{file_id}',config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.portalnesia.com/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://api.portalnesia.com/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"}],"parameters":[{"name":"PN-Client-Id","in":"header","schema":{"type":"string"},"required":true,"description":"Client Id","example":"Your client id"},{"name":"file_id","in":"path","schema":{"type":"string"},"required":true,"description":"ID of files","example":"7d21b667-c92b-5304-93c1-1eac1b5922a2"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"./schemas.json#/schemas/files"}}},"example":{"error":false,"message":"OK","data":{"id":"id-of-files","id_number":123456,"title":"Files Title","created":{"time_ago":"a year ago","timestamp":1604130621},"private":false,"type":"audio","size":"4.97 MB","thumbs":"https://content.portalnesia.com/...","url":"https://.....","artist":"File artist","seen":{"number":123456,"format":"123.5 K"},"user":{"id":1234,"name":"Name","username":"username","picture":"https://content.portalnesia.com/....."}}}}}}}},"put":{"tags":["Files"],"summary":"Edit Files","x-badges":[{"color":"red","label":"OAuth: User"},{"color":"yellow","label":"Scope: files"}],"security":[{"OauthUser":["files"]}],"x-codeSamples":[{"lang":"shell","label":"Shell + Curl","source":"curl --request PUT \\\n  --url https://api.portalnesia.com/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2 \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'PN-Client-Id: Your client id' \\\n  --header 'content-type: application/x-www-form-urlencoded' \\\n  --data 'title=Title+files' \\\n  --data 'private=true+or+false' \\\n  --data 'artist=Artist+name'"},{"lang":"javascript","label":"Node + Axios","source":"var axios = require('axios');\nvar qs = require('qs');\n\nvar data = qs.stringify({\n   'title': 'Title files'\n   'private': 'true or false'\n   'artist': 'Artist name'\n})\n\nvar config = {\n  headers: {\n    'Authorization': 'Bearer REPLACE_BEARER_TOKEN', \n    'PN-Client-Id': 'Your client id',\n    'Content-Type': 'application/x-www-form-urlencoded'\n  }\n}\n\naxios.put('https://api.portalnesia.com/v1/files/{file_id}',data,config)\n.then(function(response){\n  console.log(response.data)\n})\n.catch(function (error) {\n  console.log('error', error);\n});"},{"lang":"javascript","label":"Javascript + Xhr","source":"const data = \"title=Title%2Bfiles&private=true%2Bor%2Bfalse&artist=Artist%2Bname\";\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"PUT\", \"https://api.portalnesia.com/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2\");\nxhr.setRequestHeader(\"PN-Client-Id\", \"Your client id\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nxhr.setRequestHeader(\"content-type\", \"application/x-www-form-urlencoded\");\n\nxhr.send(data);"},{"lang":"php","label":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.portalnesia.com/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"title=Title%2Bfiles&private=true%2Bor%2Bfalse&artist=Artist%2Bname\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"PN-Client-Id: Your client id\",\n    \"content-type: application/x-www-form-urlencoded\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"python","label":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.portalnesia.com\")\n\npayload = \"title=Title%2Bfiles&private=true%2Bor%2Bfalse&artist=Artist%2Bname\"\n\nheaders = {\n    'PN-Client-Id': \"Your client id\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/x-www-form-urlencoded\"\n    }\n\nconn.request(\"PUT\", \"/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"java","label":"Java + Unirest","source":"HttpResponse<String> response = Unirest.put(\"https://api.portalnesia.com/v1/files/7d21b667-c92b-5304-93c1-1eac1b5922a2\")\n  .header(\"PN-Client-Id\", \"Your client id\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .header(\"content-type\", \"application/x-www-form-urlencoded\")\n  .body(\"title=Title%2Bfiles&private=true%2Bor%2Bfalse&art
[...]
